* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar--------------------- */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 8rem;
  font-family: "Orbitron", Helvetica, sans-serif;
  font-weight: 600;
}

.list-item {
  list-style: none;
  margin: 0 1rem;
}

.list-item:nth-child(1) {
  font-size: 1.3rem;
  font-weight: 800;
  text-decoration: underline;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-group {
  display: flex;
  align-items: center;
}

.square {
  position: absolute;
  bottom: 0px;
  left: 100px;
}

.hero-image {
  width: 450px;
}

button {
  padding: 0.5rem 3rem;
  background-color: transparent;
  border-radius: 0.5rem;
  font-family: "Poppins", Helvetica, sans-serif;
  font-size: 1.1rem;
  margin-left: 1rem;
}

/*  Hero Section --------------*/
.hero-container {
  margin: 5rem 8rem 2rem 8rem;
  position: relative;
  display: flex;
  gap: 5rem;
}

.square {
  position: absolute;
  z-index: -1;
  bottom: -70px;
}

.hero-container-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-heading {
  font-size: 4rem;
  font-weight: bold;
  font-family: "Orbitron", Helvetica, sans-serif;
  margin: 4rem 2rem 2rem 4rem;
}

.hero-description {
  font-family: "Poppins", Helvetica, sans-serif;
  width: 60%;
  text-align: center;
  color: rgb(69, 69, 69);
  margin-bottom: 5rem;
}

.button-join,
.button-email {
  font-family: "Orbitron", Helvetica, sans-serif;
  font-weight: 800;
}

.button-email {
  color: rgb(59, 59, 59);
  border-color: rgb(59, 59, 59);
}

.button-join {
  background-color: #000;
  color: #fff;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", Helvetica, sans-serif;
  margin-top: 5rem;
}

.contact-heading {
  font-weight: 400;
  font-size: larger;
  color: rgb(59, 59, 59);
  margin-bottom: 1rem;
}

/* extra images */
.star,
.star2,
.globe {
  position: absolute;
}

.globe {
  top: 150px;
  left: 55%;
}

.star {
  top: 170px;
  right: 10%;
}
.star2 {
  bottom: 60px;
  left: 43%;
  width: 50px;
}
